p {
    margin-top: 10em;
    margin-bottom: 0;
    font-size: 1.4em;
}
.board {
    display: flex;
    @media all and(max-width: 480px) {
        flex-direction: column;
    }
}
h2 {
    margin: 0;
    float: right;
    font-size: 1em;
}