div {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-bottom: .5em;
    background-image: url('./../../assets/img/button.png');
    background-position: center;
    background-size: contain;
    cursor: pointer;
    &:hover {
        opacity: 0.75;
    }
}
