section {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    width: 378px;
    height: 378px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7.5px 7.5px 5px 0px rgba(0,0,0,0.5);
    @media all and(max-width: 480px) {
        margin: 0 auto;
    }
    div {
        width: 27px;
        height: 27px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.75;
        }
    }
}

app-panel {
    margin: 2em;
    width: 13em;
    height: 378px;
    @media all and(max-width: 480px) {
        margin: 1em auto;
        height: auto;
    }
}

@media all and (max-width: 480px) {
    section {
        width: 280px;
        height: 280px;
        border: 3px solid white;
        div {
            width: 20px;
            height: 20px;
        }
    }
}