/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    margin: 0;
    background-image: url('assets/img/desktop_bg.jpg');
    background-position: center;
    background-size: cover;
    background-position-y: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Slabo 27px", serif;
    @media all and(max-width: 480px) {
        background-color: black;
        background-image: url('assets/img/mobile_bg.jpg');
        background-position-y: auto;
        background-repeat: no-repeat;
        align-items: flex-start;
    }
}