/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    background-image: url('assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-position-y: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Swanky and Moo Moo', cursive;
}