.buttons {
    width: 13em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
app-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}